<?xml version = "1.0" encoding = "UTF-8"?>

<beans 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id = "helloWorld" class = "com.spring.helloworld.HelloWorld">
       <property name = "message" value = "Hello World!"/>
    </bean>
   
    <bean id="customer" class="com.spring.helloworld.TestAutowired" autowire="byName" /> 

	<bean id="student" class="com.spring.beans.Student" >
		<constructor-arg  type="int" value="100"/>
		<constructor-arg  type="java.lang.String" value="Anveshan"/>
		
		<property name="address" ref="address" />
	</bean>	
	
	<bean id = "address" class="com.spring.beans.Address">
		<property name="line1" value="testStreet" />
		<property name="line2" value="testColony" />
		<property name="city" value="testCity" />
	
	</bean>

</beans>