* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
background-color: #3498DB;
}

input {
background-color: #ECF0F1;
border: 1px solid transparent;
border-radius: 1px;
font-size: 12px;
font-weight: 100;
padding: 5px 0;
width: 200px;
transition: border .5s;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 100px;
  margin: 0 auto;
}