<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/resources/css/bootstrap/bootstrap.min.css}" />

<title>Java Questions</title>

<style>
.header-name div {
	display: inline-block;
	height: auto;
}
</style>

<script>
	function showQuestionLink(id) {
		var indexPosition = id.indexOf('link');
		var idName = id.substr(0, indexPosition);
		if ('Show Answer' == document.getElementById(id).text) {
			document.getElementById(id).text = 'Hide Answer';
			document.getElementById(idName).style.display = "inline";
		} else {
			document.getElementById(id).text = 'Show Answer';
			document.getElementById(idName).style.display = "none";
		}
	}

	/*function createQuestion(){
	 //var formDiv = document.getElementById('javaQuestionsForm').innerHTML ;
	 var formDiv = document.getElementById('javaQuestionsForm');
	 var divtest = document.createElement("div");
	 var buildDiv = '<br/><div class="form-group"> HI There <input class="form-check-input" type="checkbox" name="remember"></div>';
	 divtest.innerHTML = buildDiv;
	 //formDiv.appendChild(divtest);
	 formDiv.appendChild(divtest);
	} */

	function createJavaQuestion() {
		if (null != document.getElementById("newJavaQuestion"))
			document.getElementById("newJavaQuestion").style.display = "inline";
		if (null != document.getElementById("newJavaAnswer"))
			document.getElementById("newJavaAnswer").style.display = "inline";
		document.getElementById("newJavaAnswerSubmit").style.display = "inline";
		document.getElementById("newJavaAnswerDiscard").style.display = "inline";

	}

	function submitJavaQuestion() {

		document.getElementById("newJavaQuestion").value = "";
		document.getElementById("newJavaAnswer").value = "";

		document.getElementById("newJavaQuestion").style.display = "none";
		document.getElementById("newJavaAnswer").style.display = "none";
		document.getElementById("newJavaAnswerSubmit").style.display = "none";
		document.getElementById("newJavaAnswerDiscard").style.display = "none";

	}

	function discardJavaQuestion() {

		document.getElementById("newJavaQuestion").value = "";
		document.getElementById("newJavaAnswer").value = "";

		document.getElementById("newJavaQuestion").style.display = "none";
		document.getElementById("newJavaAnswer").style.display = "none";
		document.getElementById("newJavaAnswerSubmit").style.display = "none";
		document.getElementById("newJavaAnswerDiscard").style.display = "none";
	}

	function addSelectedQuestions() {
		var tab = document.getElementById("javaQuestionsForm");
		var elems = tab.getElementsByTagName("input");
		for (var i = 0; i < elems.length; i++) {
			if (elems[i].type == "checkbox") {
				if (elems[i].checked == true)
					alert(elems[i].id + " This is cheked");
				//collect in array
			}
		}
	}
</script>
</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/spr/addQuestions}"
			th:object="${questionsForm}" method="post">
			<div>
				<div>
					<h3>Select Java Questions</h3>
				</div>
			</div>
			<br/>

			<div class="form-group" th:each="question : ${questions}">
				<input class="form-check-input" type="checkbox"
					th:id="${question.checkBoxId}" name="remember"> 
				<label for="quest1" th:text="${question.desc}"></label> 
				<a href="#" th:id="${question.linkId}" onClick='showQuestionLink(this.id)'>
					Show Answer</a>
				<textarea class="form-control" rows="2"
					th:id="${question.textAreaId}"
					style='text-align: left; resize: vertical; display: none'>
						[[${question.ans}]]
				</textarea>
			</div>

			<!-- <div class="form-group">
				<input class="form-check-input" type="checkbox" id="quest1Check"
					name="remember"> 
				<label for="quest1">What is Java portability ?</label> 
				<a href="#" id="quest1link" onClick='showQuestionLink(this.id)'>Show Answer</a>
				<textarea class="form-control" rows="2" id="quest1"
					placeholder="What is Java portability"
					style='resize: vertical; display: none'></textarea>
			</div>
			<div class="form-group">
				<input class="form-check-input" type="checkbox" id="quest2Check"
					name="remember"> 
				<label for="quest2">What are Java
					exceptions ?</label> <a href="#" id="quest2link"
					onClick='showQuestionLink(this.id)'>Show Answer</a>
				<textarea class="form-control" rows="2" id="quest2"
					placeholder="What are Java exceptions"
					style='resize: vertical; display: none'></textarea>
			</div>
			<div class="form-group">
				<input class="form-check-input" type="checkbox" id="quest3Check"
					name="remember"> <label for="quest3">What is
					polymorphism ?</label> <a href="#" id="quest3link"
					onClick='showQuestionLink(this.id)'>Show Answer</a>
				<textarea class="form-control" rows="2" id="quest3"
					placeholder="What is polymorphism"
					style='resize: vertical; display: none'></textarea>
			</div> -->

			<br/> 
			<a href="#" id="createQuestion" onClick='createJavaQuestion()'>Create
				New Question</a>
			<div class="form-group" id="newJavaQuestionDiv">
				<textarea class="form-control" rows="1" id="newJavaQuestion"
					th:field="*{desc}" placeholder="Enter Question"
					style='resize: vertical; display: none'></textarea>
				<h6 th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"> Question Error </h6>
				<br></br>
				<textarea class="form-control" rows="2" id="newJavaAnswer"
					th:field="*{ans}" placeholder="Enter Answer" style='resize: vertical; display: none'></textarea>
				<br></br>
				<button type="submit" class="btn btn-secondary" name="action"
					id="newJavaAnswerSubmit" style='resize: vertical; display: none'
					value='addQuestionToDB'>Submit
					Question</button>
				<button type="submit" class="btn btn-secondary"
					id="newJavaAnswerDiscard" style='resize: vertical; display: none'
					onClick='discardJavaQuestion()' value='discardQuestion'>Discard
					Question</button>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary" name="action"
					onClick='addSelectedQuestions()' value='assignQuestionsToUser'>Add
					selected Questions</button>
			</div>
		</form>
	</div>

	<script th:src="@{/resources/js/bootstrap/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap/popper.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
</body>

</html>