<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/resources/css/bootstrap/bootstrap.min.css}" />

<title>Java Questions</title>

<style>
.header-name div {
	display: inline-block;
	height: auto;
}
</style>

<script>
	function showQuestionLink(id) {
		var indexPosition = id.indexOf('link');
		var idName = id.substr(0, indexPosition);
		if ('Show Answer' == (document.getElementById(id).text).trim()) {
			document.getElementById(id).text = 'Hide Answer';
			document.getElementById(idName).style.display = "inline";
		} else {
			document.getElementById(id).text = 'Show Answer';
			document.getElementById(idName).style.display = "none";
		}
	}

	/*function createQuestion(){
	 //var formDiv = document.getElementById('javaQuestionsForm').innerHTML ;
	 var formDiv = document.getElementById('javaQuestionsForm');
	 var divtest = document.createElement("div");
	 var buildDiv = '<br/><div class="form-group"> HI There <input class="form-check-input" type="checkbox" name="remember"></div>';
	 divtest.innerHTML = buildDiv;
	 //formDiv.appendChild(divtest);
	 formDiv.appendChild(divtest);
	} */

	function createJavaQuestion() {
		if (null != document.getElementById("newJavaQuestion")){
			document.getElementById("newJavaQuestion").style.display = "inline";
			document.getElementById("newJavaQuestion").value = "";
		}
			
		if (null != document.getElementById("newJavaAnswer")){
			document.getElementById("newJavaAnswer").style.display = "inline";
			document.getElementById("newJavaAnswer").value = "";
		}
		document.getElementById("newJavaAnswerSubmit").style.display = "inline";
		
		document.getElementById("createQuestion").style.display = "none";
		document.getElementById("discardQuestion").style.display = "inline";
	}

	function submitJavaQuestion() {
		
		document.getElementById("createQuestion").style.display = "inline";
/* 		document.getElementById("newJavaQuestion").value = "";
		document.getElementById("newJavaAnswer").value = "";

		document.getElementById("newJavaQuestion").style.display = "none";
		document.getElementById("newJavaAnswer").style.display = "none";
		document.getElementById("newJavaAnswerSubmit").style.display = "none";
		document.getElementById("newJavaAnswerDiscard").style.display = "none"; */

	}

	function discardJavaQuestion() {
		document.getElementById("createQuestion").style.display = "inline";
		document.getElementById("newJavaQuestion").value = "";
		document.getElementById("newJavaAnswer").value = "";

		document.getElementById("newJavaQuestion").style.display = "none";
		document.getElementById("newJavaAnswer").style.display = "none";
		document.getElementById("newJavaAnswerSubmit").style.display = "none";
		
		document.getElementById("discardQuestion").style.display = "none";
	}

	function addSelectedQuestions() {
		var tab = document.getElementById("javaQuestionsForm");
		var elems = tab.getElementsByTagName("input");
		for (var i = 0; i < elems.length; i++) {
			if (elems[i].type == "checkbox") {
				if (elems[i].checked == true)
					alert(elems[i].id + " This is cheked");
				//collect in array
			}
		}
	}
</script>
</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/spr/addQuestions}"
			th:object="${questionsFormWrapper}" method="post">
			<div class="header-name">
				<div>
					<h3>Select Java Questions</h3>
				</div>
				<div style="float: right;">
					<a href="takeInterview">Back</a> <br/>
				</div>
			</div>
			<br/>

			<div class="form-group" th:each="question : ${questionsFormWrapper.questionsForm}">
				<input class="form-check-input" type="checkbox" th:checked="${question.selected}"
					th:id="${question.checkBoxId}" name="remember"> 
				<label for="quest1" th:text="${question.desc}"></label> 
				<a href="#" th:id="${question.linkId}" onClick='showQuestionLink(this.id)'>Show Answer</a>
				<textarea class="form-control" rows="2"
					th:id="${question.textAreaId}"
					style='text-align: left; resize: vertical; display: none'>
						[[${question.ans}]]
				</textarea>
			</div>
			<br/> 
			<!-- <a href="#" id="createQuestion" onClick='createJavaQuestion()'>Create New Question</a>
			<a href="#" id="discardQuestion" style='display: none' onClick='discardJavaQuestion()'>Discard Question</a>
			<div class="form-group" id="newJavaQuestionDiv">
				<textarea class="form-control" rows="1" id="newJavaQuestion"
					th:field="*{newQuestion.desc}" placeholder="Enter Question"
					style='resiztext-align: left; resize: vertical; display: none'></textarea>
				<h6 th:if="${#fields.hasErrors('newQuestion.desc')}" th:errors="*{newQuestion.desc}"> Question Error </h6>
				<br></br>
				<textarea class="form-control" rows="2" id="newJavaAnswer"
					th:field="*{newQuestion.ans}" placeholder="Enter Answer" style='resize: vertical; display: none'></textarea>
				<br></br>
				<button type="submit" class="btn btn-secondary" name="action"
					id="newJavaAnswerSubmit" style='resize: vertical; display: none'
					onClick='submitJavaQuestion()' value='addQuestionToDB'>Submit Question</button>
			</div> -->

			<div class="form-group">
				<button type="submit" class="btn btn-primary" name="action"
					onClick='addSelectedQuestions()' value='assignQuestionsToUser'>Add Selected Questions</button>
			</div>
		</form>
	</div>

	<script th:src="@{/resources/js/bootstrap/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap/popper.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
</body>

</html>